#footer1{
    background-color:brown ;
    color: blue;
}
.fa-code{
    color:#9f8181;
}
.navbar-brand{
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    font-size: 20px;
}
